<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomHub</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="Day1LoginScreen">
        <div class="Vector"></div>
        <div class="Rectangle1"></div>
        <div class="LoginDetails">
            <div class="Rectangle2"></div>
            <div class="Rectangle3"></div>
            <div class="Email" style="width: 66.24px; position: absolute; top: 0px; left: 25.48px; text-align: center; font-size: 20px; font-family: Inter; font-weight: 700; color: #730007; word-wrap: break-word">Email*</div>
            <div class="Senha" style="width: 63.18px; position: absolute; top: 120px; left: 25.48px; text-align: center; font-size: 20px; font-family: Inter; font-weight: 700; color: #730007; word-wrap: break-word">Senha</div>
        </div>
        <div class="RegisterButton" style="width: 343.44px; height: 54px; position: absolute; top: 744px; left: 936.56px;">
            <img class="Rectangle4" style="width: 343.44px; height: 54px; position: absolute; top: 0px; left: 0px; background: linear-gradient(0deg, white 0%, white 100%); border-radius: 65px; border: 2px #730007 solid" src="" />
            <div class="RegistrarSe" style="width: 149.81px; position: absolute; top: 13px; left: 96.82px; text-align: center; font-size: 24px; font-family: Inter; font-weight: 700; color: #730007; word-wrap: break-word">Registrar-se</div>
        </div>
        <div class="LoginButton" style="width: 343.44px; height: 54px; position: absolute; top: 676px; left: 936.56px;">
            <div class="Rectangle4" style="width: 343.44px; height: 54px; position: absolute; top: 0px; left: 0px; background: #730007; border-radius: 65px"></div>
            <div class="Login" style="width: 66.24px; position: absolute; top: 13px; left: 138.60px; text-align: center; font-size: 24px; font-family: Inter; font-weight: 700; color: white; word-wrap: break-word">Login</div>
        </div>
        <div class="EsqueceuSuaSenha" style="width: 176px; position: absolute; top: 607px; left: 920px; text-align: center"><span style="font-size: 16px; font-family: Inter; font-weight: 700; color: #7A7A7A; word-wrap: break-word">Esqueceu sua </span><span style="font-size: 16px; font-family: Inter; font-weight: 700; color: #730007; word-wrap: break-word">Senha?</span></div>
        <div class="RoomHub" style="width: 278px; height: 63px; position: absolute; top: 234px; left: 970px; text-align: center"><span style="font-size: 64px; font-family: Inter; font-weight: 700; color: #730007; word-wrap: break-word">Room</span><span style="font-size: 64px; font-family: Inter; font-weight: 700; color: #3F3F3F; word-wrap: break-word"> Hub</span></div>
        <img class="Logov21" style="width: 482px; height: 473px; position: absolute; top: 257px; left: 122px; border: 0px solid" src="img/LOGOV2 1.png" />
        <div class="Group2" style="width: 200.76px; height: 166px; position: absolute; top: 36px; left: 761.27px;">
            <div class="Ellipse4" style="width: 88.66px; height: 87px; position: absolute; top: 0px; left: 0px; background: #730007; border-radius: 9999px"></div>
            <div class="Ellipse5" style="width: 66.24px; height: 65px; position: absolute; top: 79px; left: 88.66px; background: #730007; border-radius: 9999px"></div>
            <div class="Ellipse7" style="width: 36.69px; height: 36px; position: absolute; top: 43px; left: 164.08px; background: #730007; border-radius: 9999px"></div>
            <div class="Ellipse6" style="width: 44.84px; height: 44px; position: absolute; top: 122px; left: 17.32px; background: #730007; border-radius: 9999px"></div>
        </div>
        <div class="Group3" style="width: 200.76px; height: 166px; position: absolute; top: 36px; left: 1440px; transform: rotate(180deg); transform-origin: 0 0;">
            <div class="Ellipse4" style="width: 88.66px; height: 87px; position: absolute; top: 0px; left: 125px; transform: rotate(180deg); transform-origin: 0 0; background: #730007; border-radius: 9999px"></div>
            <div class="Ellipse5" style="width: 66.24px; height: 65px; position: absolute; top: -79px; left: 178.66px; transform: rotate(180deg); transform-origin: 0 0; background: #730007; border-radius: 9999px"></div>
            <div class="Ellipse6" style="width: 36.69px; height: 36px; position: absolute; top: -45px; left: 235.08px; transform: rotate(180deg); transform-origin: 0 0; background: #730007; border-radius: 9999px"></div>
            <div class="Ellipse7" style="width: 44.84px; height: 44px; position: absolute; top: -122px; left: 80.08px; transform: rotate(180deg); transform-origin: 0 0; background: #730007; border-radius: 9999px"></div>
        </div>
    </div>
</body>
</html>